<!DOCTYPE html>
<html>
<head>
    <title>Booking - Step 2</title>
</head>
<body>
    <h1>Awaiting user verification...</h1>
    <form id="verifyForm" action="/booking?s=1" method="post">
        <button type="submit">Verify 2,50€</button>
    </form>
    <form id="verifygForm" action="/booking?s=3" method="post">
        <button type="submit">Verify GOLDEN TICKET</button>
    </form>
    <form id="verifydForm" action="/booking?s=4" method="post">
        <button type="submit">Verify Donation only</button>
    </form>
</body>
</html>