<!DOCTYPE html>
<html>
<head>
    <title>Homepage</title>
</head>
<style>
    .redirect-image {
        position: fixed;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 9999;
        width: 250px; /* Adjust the width of the image */
        height: auto; /* Maintain aspect ratio */
    }
</style>
<body>
    <h1>Welcome to Katherl Flugsimulator Buchungssystem: Professional</h1>
    <a href="/booking">Booking</a><br>
    <a href="/checkin">Checkin</a><br>
    <a href="/instructor">Instructor Interface</a><br>
    <a href="/info">Timeslot Interface</a><br>
    <a href="/about">about</a>
    <a href="/" class="redirect-link">
    <img src="/logo.png" alt="Redirect Image" class="redirect-image">
    </a>
</body>
</html>
