<!DOCTYPE html>
<html>
<head>
    <title>Homepage -> Instructor</title>
</head>
<style>
    .redirect-image {
        position: fixed;
        bottom: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 9999;
        width: 250px; /* Adjust the width of the image */
        height: auto; /* Maintain aspect ratio */
    }
</style>
<body>
    <h1>Instructor Interface</h1>
    <a href="/instructor/kampfjet">Kampfjet</a><br>
    <a href="/instructor/propeller">Propeller</a><br>
    <a href="/">back</a>
    <a href="/" class="redirect-link">
    <img src="/logo.png" alt="Redirect Image" class="redirect-image">
    </a>
</body>
</html>
